@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* FIX ME: lets use this format
  --text: #050315;
--background: #fbfbfe;
--primary: #2f27ce;
--secondary: #dedcff;
--accent: #433bff; */

  background-color: #111827;
  color: white;
}
